.clearfix{
	float: none;
	clear:both;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: Helvetica, Arial;
}

#page{
  margin-top: 0;
  float: left;
  width: 981px;
  border: 1px solid #ccc;
  border-radius:5px;
  box-shadow: 0px 0px 5px #ddd;
}

#header{
	padding:15px;
	background: #900000;
  height: 116px;
  position: relative;
}

#header h1{
  color: white;
}

#menu{
  border-radius: 0;
  left: 0;
  right: 0;
  width: auto;
  letter-spacing: 1px;
  padding-right: 11px;
  height: 35px;
  position: absolute;
  float: left;
  z-index: 10000;
  bottom: 0px;
  margin: 7px 0 0;
  background-color: #bb0000;
  color: white;
}

#menu .option{
  font-weight: normal;
  cursor: pointer;
  float: left;
  line-height: 35px;
  margin: 0 0 0 2px;
  height: 35px;
  background: inherit;
}

#menu .option a{
  font-size: 1.2em;
  display: inline-block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
}

#menu .option a:hover{
  background: #900000;
}
#content{
  width:98%;
  min-height: 500px;
  margin:0 auto;
  padding: 10px;
}

.btn{
	font-size: 13px;
	border: 1px solid #ccc;
	border-color: #A176D2;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #ddd;
	padding: 5px;
	text-decoration: none;
	color:white;
  background-color: #bb0000;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}
